.overlay-menu{
	position: fixed;
	width: 100%;
	height: 120%;
	background: rgba(28, 31, 49, 0.98);
	z-index: 9999;
	text-align: center;	
}

.menu-container{
	height: 120%;
}

.top-menu-panel{
	position: fixed;
	width: 100%;
	top: 0;
	height: 80px;
}

.menu-column{
	float: left;
	width: 25%;
	height: 100%;
	-webkit-transition: width 0.35s; 
    transition: width 0.35s;
}

.menu-column h3{
	position: relative;
	top: 10%;
    left: 40px;
	color: yellow;
	font-size: 2.4em;
	letter-spacing: 2px;
/*    transform: rotate(90deg);*/
/*    transform-origin: right top 10;*/
    word-wrap: break-word;
    width: 1px;


}

.m-col-1{
	background-image: url("images/andrea-sonda-418734.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.m-col-2{
	background-image: url("images/matt-artz-353210.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.m-col-3{
	background-image: url("images/johanna-vogt-242305.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.m-col-4{
	background-image: url("images/yifei-chen-275412.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.header1 {
    font-size: 1.5em;
    position: relative;
    left: 100px;
    top: 10px;
    color: white;
    
}

.pg1header {
    background-color: black;
    margin-left: 0;

}
a:hover {
    opacity: 0.5;
    color: white;
}

a:visited {
    color: yellow;
}

